.container{
    text-align: center;
}

div #start{
    text-align: center;
    display:block;
   
}
div #levels{
    display:none;

}
div #levels a{
    border-radius: 25px;
    display:inline-block;
    text-decoration: none;
    border-style:solid;
    width:200px;
}