img{
    width:100%;
}
#homelink{
    text-align: center;
    padding-top:20px;
    width:100%;
}
#homelink{
    font-size: 25px;
}
#homelink a{
    border-radius: 5%;
    text-decoration: none;
    border:5px;
    color:black;
    font-family:'Press Start 2P', cursive;
}
div #levels button{
    font-size:50px;
}
.container{
    text-align: center;
    width:100%;
}
.container h1{
    font-family:'Press Start 2P', cursive;
}
.container #bomb{
    width:25%;
    margin:auto;
}
.container #start{
    text-align: center;
    padding-top:40px;
    display:block;
}
.container #start button{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    cursor: pointer;
    font-family:'Press Start 2P', cursive;
}
.container #start button:hover{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    background-color:rgb(126, 144, 144);
    cursor: pointer;
    color:white;
}
.container #levels button{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    cursor: pointer;
    font-family:'Press Start 2P', cursive;
}
.container #levels{
    padding-top:40px;
}
.container #levels button:hover{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    background-color:rgb(126, 144, 144);
    cursor: pointer;
    color:white;
}
.container #levels p{
    font-size:20px;
}
/*style for the game itself */
.container #problem{
    margin:30px;
}
.container #gameboard #limit{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
.container #gameboard #limit a{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    text-decoration: none;
    color:red;
}
.container #limit{
    padding-top:20px;
    padding-bottom:20px;
    margin:20px;
}
.container #letters button{
   padding:10px;
    font-size:20px;
    display: inline-block;
    cursor: pointer;
    margin-top:10px;
    margin-bottom:10px;
}
.container #letters button:hover{
    background-color: rgb(65, 44, 44);
    color:antiquewhite;
    cursor: pointer;
}
.container #letters a{
    text-decoration: none;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    color:black;
    font-size:30px;
    padding:15px 30px;
    margin:30px;
    cursor: pointer;
}
@media (min-width:1200px){
    .container{
        width:100%;
    }
    div #bomb{
        width:30%;
        margin:auto;
    }
}
@media (max-width:800px){
    .container{
        width:100%;
    }
    div #bomb{
        width:40%;
        margin:auto;
    }
}
@media (max-width:600px){
    .container{
        width:100%;
    }
    div #bomb{
        width:60%;
        margin:auto;
    }
}