img{
    width:100%;
}
.container{
    text-align: center;
    width:100%;
}
div #bomb{
    width:25%;
    margin:auto;
}
div #start{
    text-align: center;
    padding-top:40px;
    display:block;
}
div #start button{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    cursor: pointer;
}
div #start button:hover{
    font-size:50px;
    border-radius: 25px;
    border-style: solid;
    padding:10px 15px;
    background-color:rgb(126, 144, 144);
    cursor: pointer;
}
div #levels{
    padding-top:40px;
}

div #levels p{
    font-size:20px;
}

/*style for the game itself */
div #problem{
    margin:30px;
}
div #limit{
    padding-top:20px;
    padding-bottom:20px;
    margin:20px;
}
div #letters button{
   padding:10px;
    font-size:20px;
    display: inline-block;
    cursor: pointer;
    margin-top:10px;
    margin-bottom:10px;
}
div #letters button:hover{
    background-color: rgb(65, 44, 44);
    color:antiquewhite;
    cursor: pointer;
}
div #letters a{
    text-decoration: none;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    color:black;
    font-size:30px;
    padding:15px 30px;
    margin:30px;
    cursor: pointer;
}
div .homelink a{
    padding-top:40px;
    font-size: 30px;;
}
@media (min-width:1200px){
    .container{
        width:100%;
    }
    div #bomb{
        width:30%;
        margin:auto;
    }
}
@media (max-width:800px){
    .container{
        width:100%;
    }
    div #bomb{
        width:40%;
        margin:auto;
    }
}
@media (max-width:600px){
    .container{
        width:100%;
    }
    div #bomb{
        width:60%;
        margin:auto;
    }
}